
@import '/home/ralexander/.config/waybar/themes/lateralus/colors.css';

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
  font-family: "Monofur Nerd Font", "JetBrainsMono Nerd Font Propo", sans-serif;
  border: none;
  border-radius: 0px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.5);
  transition-property: background-color;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  font-weight: bold;
  font-size: 10px;
  padding: 0px 5px;
}

#workspaces button {
  color: @primary;
  background-color: @background;
  font-size: 17px;
  border: 2px solid @surface_bright;
  border-radius: 25px;
  margin: 0px 2px;
  padding: 0px 6px;
}

#workspaces button.active {
  color: @error;
  background: @background;
  font-size: 17px;
  border: 2px solid @surface_bright;
  border-radius: 25px;
  padding-left: 7px;
}

#workspaces button:hover {
  color: @error;
  font-size: 17px;
  border: 2px solid @primary;
  border-radius: 25px;
}

/* -----------------------------------------------------
 * Custom appMenu
 * ----------------------------------------------------- */

#custom-appmenu {
  color: @primary;
  background-color: @background;
  font-size: 15px;
  border: 3px solid @surface_bright;
  border-radius: 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin: 2px 0px;
  margin-right: 5px;
  padding: 2px 10px;
  padding-right: 20px;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
  color: @primary;
  background-color: @background;
  font-size: 15px;
  border: 3px solid @surface_bright;
  border-radius: 15px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin: 2px 0px;
  padding: 2px 12px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  background-color: @background;
  border: 0px solid @error;
  border-radius: 3px;
  opacity: 1;
  margin: 4px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

tooltip label {
  color: @error;
  margin: 5px;
  padding: 10px;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
  color: @primary;
  background-color: @background;
  font-size: 16px;
  font-weight: normal;
  border: 3px solid @surface_bright;
  border-radius: 15px;
}

window#waybar.empty #window {
  background-color: transparent;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-wallpaper,
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10,
#custom-waybarthemes {
  color: @primary;
  font-size: 17px;
  margin-left: 10px;
  padding-right: 10px;
}

#custom-hyprshade {
  margin-right: 2px;
}

#custom-hypridle {
  margin-right: 2px;
}

#custom-hypridle.active {
  color: @iconcolor;
}

#custom-hypridle.notactive {
  color: #dc2f2f;
}

#custom-waybarthemes,
#custom-system {
  margin-right: 0px;
}

/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

#idle_inhibitor {
  color: @iconcolor;
  font-size: 15px;
  font-weight: bold;
  margin-right: 5px;
  opacity: 0.8;
}

#idle_inhibitor.activated {
  color: #dc2f2f;
  font-size: 17px;
  font-weight: bold;
  margin-right:15px;
  opacity: 0.8;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
  color: @error;
  background-color: @background;
  font-size: 17px;
  border: 3px solid @surface_bright;
  border-radius: 15px;
  margin: 2px 5px;
  padding: 2px 10px;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
  color: @primary;
  background-color: @background;
  font-size: 17px;
  border: 3px solid @surface_bright;
  border-radius: 15px;
  margin: 2px 5px;
  padding: 2px 12px;
}

/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */

#backlight {
  color: @primary;
  background-color: @background;
  font-size: 17px;
  border: 3px solid @surface_bright;
  border-radius: 15px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin: 2px 0px;
  padding: 2px 12px;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
  color: @primary;
  background-color: @background;
  font-size: 17px;
  border: 3px solid @surface_bright;
  border-radius: 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin: 2px 0px;
  padding: 2px 10px;
}

#pulseaudio.muted {
  color: @error;
  background-color: @error;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network,
#network.ethernet,
#network.wifi {
  color: @primary;
  background-color: @background;
  font-size: 17px;
  border: 3px solid @surface_bright;
  border-radius: 15px;
  margin: 2px 5px;
  padding: 2px 12px;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
    color: @primary;
    font-size: 17px;
    background: @background;
    margin: 1px 2px;
    padding: 0px 0px;
    border-radius: 15px;
    border: 3px solid @surface_bright;
}

#taskbar button {
    margin: 0px 5px;
    border-radius: 15px;
    padding: 0px 2px;
}



/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth,
#bluetooth.on,
#bluetooth.connected {
  color: @primary;
  background-color: @background;
  font-size: 17px;
  border: 3px solid @surface_bright;
  border-radius: 15px;
  margin: 2px 0px;
  padding: 2px 12px;
}

#bluetooth.off {
  color: @error;
  border: 3px solid @surface_bright;
  border: 3px solid @on_primary;
  border-radius: 15px;
  margin: 2px 0px;
  padding: 2px 12px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery,
#battery.charging,
#battery.pluged {
  color: @primary;
  background-color: @background;
  font-size: 17px;
  border: 3px solid @surface_bright;
  border-radius: 15px;
  margin: 2px 0px;
  padding: 2px 12px;
  margin-right: 5px;
}

#battery.critical:not(.charging) {
  color: @error;
  background-color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

label:focus {
  background-color: #000000;
}
