ml4w/
*.log
vim/
bashrc/
hypr/colors.conf
kitty/colors-matugen.conf
kitty/colors-wallust.conf
ohmyposh/colors.json
waybar/colors.css
wlogout/colors.css
waypaper/
rofi/colors.rasi
ohmyposh/EDM115-newline.omp.json
swaync/colors.css
nwg-dock-hyprland/colors.css
gtk-3.0/colors.css
gtk-4.0/colors.css
nwg-dock-hyprland/colors.css
ohmyposh/lateralus.omp.json
