bashrc/
ml4w/
nwg-dock-hyprland/
sidepad/
walker/
/hypr/colors.conf
/kitty/colors-matugen.conf
/ohmyposh/EDM115-newline.omp.json
/ohmyposh/colors.json
/rofi/colors.rasi
/swaync/colors.css
/waybar/themes/lateralus/colors.css
/waypaper/config.ini
/wlogout/colors.css
/gtk-3.0/colors.css
/gtk-4.0/colors.css
chromium-flags.conf
edge-flags.conf
